<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Navbar -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
            <div class="container">
                <a href="/" class="navbar-brand">SearchHoliday</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/houses" class="nav-link">Места отдыха</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Тест</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Отзывы</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        <button class="btn btn-outline-primary">Регистрация</button>
                        <button class="btn btn-primary ms-3">Войти</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main -->
    <main class="main w-100 pb-3">
        <div class="container">
            <div class="main-inner d-flex align-items-center justify-content-between flex-wrap g-3">
                @RenderBody()
            </div>
        </div>
    </main>


    <!-- Footer -->
    <footer class="footer border-top py-3">
        <div class="container">
            &copy; 2021 - SearchHoliday - Все материалы взяты с сайта <a href="https://www.holiday.by/by" target="_blank">Holiday.by</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
