img {
    width: 100%;
}

.main-inner {
    flex-basis: 48%;
    height: 500px;
}

/*.main-inner__item-title {
    font-size: 40px;
}
*/
.main-inner__item-type {

}

.main-inner__item-price {

}

.main-inner__item-image {

}