@model HousesQuestionsViewModel
@{
    int counterName = 1;
    int counterAnswer = 1;
    int counterQuestion = 1;

    if (Model.HousesQuestions.First().Title == "Что-то пошло не так...")
    {
        Layout = null;
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Что-то пошло не так...</title>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/layoutStyles.css" />
        </head>
        <body class="mb-0">
            <div class="d-flex justify-content-center align-items-center w-100 vh-100 flex-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
                <h2 class="mb-4 mt-5 text-center">Что-то пошло не так...</h2>
                <button class="btn btn-outline-primary px-4" onclick="window.location.reload()">Повторить</button>
            </div>
        </body>
    </html>
    }
    else
    {
        <div class="container">
            <h2 class="text-center mb-3">Тест по подбору мест для отдыха</h2>
            <div class="main-questions d-flex align-items-center justify-content-center flex-column gap-5">
                @foreach (var itemQuestion in Model.HousesQuestions)
                {
                    <div class="questions-item d-flex align-items-center flex-column h-100">
                        <h4 class="text-center">Вопрос №@counterQuestion</h4>
                        <h6 class="text-center item__question">Вопрос: @itemQuestion.Question</h6>
                        <div class="list-group list-group-checkable item__answers d-flex justify-content-center flex-column gap-3">
                            @for (int i = 0; i < Model.HousesAnswers.Count(); i++)
                            {
                                if (Model.HousesAnswers.ElementAt(i).QuestionsId == itemQuestion.Id)
                                {
                                    <input class="list-group-item-check" type="radio" name="answers_@counterName" id="@i" value="">
                                    <label class="list-group-item py-3" for="@i">
                                        <span class="d-block small opacity-50">Ответ №@counterAnswer</span>
                                        @Model.HousesAnswers.ElementAt(i).AnswerText
                                    </label>
                                    counterAnswer++;
                                }
                            }
                        </div>
                    </div>

                    counterName++;
                    counterAnswer = 1;
                    counterQuestion++;
                }
                <button class="questions-btn my-4 btn btn-lg btn-primary">Завершить</button>
            </div>
        </div>
    }
}
